.side-now {
  width: 15vw;
  height: auto;
  background: white;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 2;
}

.side-now-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: auto;
  padding: 100px 60px;
}

.side-list__item {
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 400ms ease;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0);
  }

  &:hover {
    transform: scale(90%);
    text-decoration: underline;
  }
}

.translate-lang {
  display: flex;
  justify-content: space-evenly;
}

.side-social-list{
  display: flex;
  justify-content: center;
}