.side-now {
  width: 15vw;
  height: auto;
  background: rgb(140, 137, 137);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.side-now-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: auto;
  padding: 100px 60px;
}

.side-list__item {
  margin-bottom: 20px;
}
