.side-now {
  width: 325px;
  height: auto;
  background: white;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 2;
}

.logo {
  margin-bottom: 40px;
}

.side-now-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: auto;
  padding: 65px 66px 0 85px;
}

.side-now__item {
  position: relative;
  margin-bottom: 14px;
  transition: border 800ms ease;
  cursor: pointer;
}

.c-btn:after {
  content: "";
  display: block;
  position: absolute;
}

.c-btn:before {
  content: "";
  display: block;
  position: absolute;
}

.c-btn--double-line:after {
  transform-origin: right;
  transform: scaleX(0);
  top: -7px;
  height: 1px;
  width: 100%;
  background-color: rgba(36, 59, 118, 0.5);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.c-btn--double-line:before {
  transform-origin: left;
  transform: scaleX(0);
  bottom: -7px;
  height: 1px;
  width: 100%;
  background-color: rgba(36, 59, 118, 0.5);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.c-btn--double-line:hover:after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.c-btn--double-line:hover:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.translate-lang {
  display: flex;
  margin-top: 36px;
  .translate-lang__option {
    margin-right: 20px;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    &:hover {
      text-decoration: underline;
    }
  }
}

.translate-current {
  text-decoration: underline;
}

.side-social-list {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.social-list__item:hover {
  cursor: pointer;
}

.social-list__item:not(:last-child) {
  margin-right: 11px;
}
