.btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  text-align: center;
  letter-spacing: 0.05em;
  padding: 0;
}
.button-more {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;

  color: var(--black-text-color);
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
}
