:root {
  --white-text-color: #ffffff;
  --secondary-text-color: #6cb3d8;
  --black-text-color: #000000;
  --main-text-color-category: #243b76;
  --main-text-color: #22325b;
  --accent-button-color: #3bdcff;
  --transition-duration: 250ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
