<section class="icons-order">
  <div class="container">
    <h2 class="icons-order__title">Виготовлення значків на замовлення</h2>
    <p class="icons-order__desc">
      Якщо ви любите виділятися і підкреслювати свій статус, то значки –
      найкращий варіант.
    </p>
    <p class="icons-order__text">
      Значки на замовлення - це не проста дрібничка, а річ, здатна підкреслити
      смак власника, його значущість. Над їх виготовленням трудяться дизайнери
      та інші фахівці, щоб значок зацікавив і навіть заінтригував. Найчастіше
      призначаються носіння на одязі, рідше – на аксесуарах: рюкзаках, шапках,
      сумках. <br />
      Виготовлення значків на замовлення починається з роботи художника та
      дизайнера. Необхідно зробити початковий макет, який уже узгоджується із
      замовником. Комп'ютерна обробка зображення дозволяє передати більшість
      інформації фрезерному верстату. Деякі елементи гравер виправляє та
      доповнює вручну.
    </p>
    <h2 class="icons-order__title">Значки з логотипом виробництво</h2>
    <p class="icons-order__text">
      Якщо ви любите виділятися та підкреслювати свій статус чи статус вашої
      компанії, то значки – найкращий варіант. Вважаєте, що це лише прикраси? Ви
      глибоко помиляєтесь. Значки широко використовуються в політиці, наприклад,
      партійні значки, корпоративні значки (в основному логотипи компаній), і
      навіть освіта, значки університетів, (у формі ромба, що свідчить про
      закінчення певного навчального закладу.) <br />
      Технологія виготовлення значка з логотипом на замовлення визначається
      після розробки ескізу та його затвердження. Також залежить від кількості
      виробів. Найбільш розтрощений спосіб – фототравлення. Для виготовлення
      значків з логотипом великим тиражем доцільно використовувати технологію
      штампування, що дозволяє у короткий термін виготовити велику партію
      виробів.
    </p>
    <div class="icons-order__img-container">
      <img
        class="icons-order__img"
        srcset="
          ./catalog/images/icons-order/icons-bg.jpg    1x,
          ./catalog/images/icons-order/icons-bg-2x.jpg 2x
        "
        src="./catalog/images/icons-order/icons-bg.jpg"
        alt="Значок"
        width="1136"
      />
    </div>
    <h2 class="icons-order__title">Технології виробництва</h2>
    <p class="icons-order__text">
      На виготовлення лише одного значка потрібна маса технологічних етапів. Ось
      від чого залежить їх якість та вартість. Існують різноманітні способи, що
      впливають на зовнішній вигляд, вагу, вартість.
    </p>
    <ul class="icons-order__text-list">
      <li class="icons-order__text-item">
        <h3 class="icons-order__text-title">Фототравлення значків</h3>
        <p class="icons-order__text-desc">
          Точна передача макету за рахунок тонких ліній доступна лише
          технологією хімічного травлення. Тонкі лінії та відносно низька
          собівартість – основні переваги технології. Метод дозволяє створювати
          гарні аксесуари із 2D рельєфом.
        </p>
      </li>
      <li class="icons-order__text-item">
        <h3 class="icons-order__text-title">Холодна штамповка (чеканка)</h3>
        <p class="icons-order__text-desc">
          Один із найбільш трудомістких процесів, що показують найкращі
          результати. Можуть використовуватися різні метали. Розробка значків
          холодним штампуванням передбачає активну роботу з 3D-макетом. Це
          дозволяє визначити рельєфність, об'єм, багаторівневість.
        </p>
      </li>
      <li class="icons-order__text-item">
        <h3 class="icons-order__text-title">Лиття значків</h3>
        <p class="icons-order__text-desc">
          Найдавніша та найефективніша технологія обробки металів. Саме в цьому
          випадку передається вишуканість та точність зображень. Остаточний етап
          виробництва – це ручне оброблення, де майстри доводять значок до
          досконалості.
        </p>
      </li>
    </ul>
    <h2 class="icons-order__title">Нанесення емалі</h2>
    <p class="icons-order__text">
      Ми використовуємо холодну емаль. Це рідка консистенція, яка заливається у
      поглиблення значка за допомогою спеціального шприца. Надалі вона сушиться
      високими температурами. Як результат, емалі розтікаються за поглибленнями
      та створюють рельєф.
    </p>
    <h2 class="icons-order__title">види кріплень</h2>
    <ul class="icons-order__species-list">
      <li class="icons-order__species-item">
        <img
          srcset="
            ./catalog/images/icons-order/species-1.png    1x,
            ./catalog/images/icons-order/species-1-2x.png 2x
          "
          src="./catalog/images/icons-order/species-1.png"
          alt="Значок"
          width="70"
        />
        <p class="icons-order__species-text">
          Метелик <br />
          металевий
        </p>
      </li>
      <li class="icons-order__species-item">
        <img
          srcset="
            ./catalog/images/icons-order/species-2.png    1x,
            ./catalog/images/icons-order/species-2-2x.png 2x
          "
          src="./catalog/images/icons-order/species-2.png"
          alt="Значок"
          width="70"
        />
        <p class="icons-order__species-text">
          Метелик <br />
          силіконовий
        </p>
      </li>
      <li class="icons-order__species-item">
        <img
          srcset="
            ./catalog/images/icons-order/species-3.png    1x,
            ./catalog/images/icons-order/species-3-2x.png 2x
          "
          src="./catalog/images/icons-order/species-3.png"
          alt="Значок"
          width="99"
        />
        <p class="icons-order__species-text">Цанга</p>
      </li>
      <li class="icons-order__species-item">
        <img
          srcset="
            ./catalog/images/icons-order/species-4.png    1x,
            ./catalog/images/icons-order/species-4-2x.png 2x
          "
          src="./catalog/images/icons-order/species-4.png"
          alt="Значок"
          width="74"
        />
        <p class="icons-order__species-text">Магніт</p>
      </li>
      <li class="icons-order__species-item">
        <img
          srcset="
            ./catalog/images/icons-order/species-5.png    1x,
            ./catalog/images/icons-order/species-5-2x.png 2x
          "
          src="./catalog/images/icons-order/species-5.png"
          alt="Значок"
          width="175"
        />
        <p class="icons-order__species-text">Шпилька</p>
      </li>
    </ul>
    <h2 class="icons-order__title">
      Значки на замовлення та доставка по україні
    </h2>
    <p class="icons-order__text">
      Наша компания «Pin-Ol» производит значки на заказ с 2010 года. За это
      время было налажено профессиональное производство. У нас работают мастера
      с многолетним опытом, которые точно знают, как должен выглядеть
      высококачественный значок. <br />
      Ви можете замовити значки Київ. Усю актуальну інформацію вже представлено
      на нашому офіційному сайті Pin-ol.com.ua. Там же ви знайдете широкий
      асортимент пропозицій та готових варіантів продукції. Замовити
      виготовлення значків Київ, та вся Україна.
    </p>
  </div>
</section>
