<div class="home">
  <div class="container">
    <div class="bread-crumbs">
      <svg width="20" height="20" class="bread-crumbs__icon">
        <use href=./images/sprite.svg#icon-home></use>
      </svgw>
      <span class="bread-crumbs__span">Каталог</span>
      <span class="bread-crumbs__span">Значки</span>
    </div>

    <div class="filter">
      <div class="container">
        <h1 class="filter-title">Значки</h1>
        <button type="button" class="filter-btn current-btn">Значки</button>
        <button type="button" class="filter-btn">Шильди</button>
        <button type="button" class="filter-btn">Бейджі</button>
        <button type="button" class="filter-btn">Брелоки</button>
        <button type="button" class="filter-btn">Монети, жетони</button>
        <button type="button" class="filter-btn">Накладки</button>
        <button type="button" class="filter-btn">Таблички</button>
        <button type="button" class="filter-btn">Медалі, ордена</button>
      </div>
    </div>

    <div class="icons">
      <div class="container">
        <ul class="our-production-list">
          <li class="production-list__item">
            <img
              srcset="
                ./catalog/images/icons/icon-1.jpeg    1x,
                ./catalog/images/icons/icon-1-x2.jpeg 2x
              "
              src="./catalog/images/icons/icon-1.jpeg"
              alt="Продукція"
              width="262"
            />
            <h3 class="production-list__title">Значок GL</h3>
          </li>
          <li class="production-list__item">
            <img
              srcset="
                ./catalog/images/icons/icon-2.jpeg    1x,
                ./catalog/images/icons/icon-2-x2.jpeg 2x
              "
              src="./catalog/images/icons/icon-2.jpeg "
              alt="Продукція"
              width="262"
            />
            <h3 class="production-list__title">Значок GL</h3>
          </li>
          <li class="production-list__item">
            <img
              srcset="
                ./catalog/images/icons/icon-3.jpeg    1x,
                ./catalog/images/icons/icon-3-x2.jpeg 2x
              "
              src="./catalog/images/icons/icon-3.jpeg "
              alt="Продукція"
              width="262"
            />
            <h3 class="production-list__title">Значок GL</h3>
          </li>
          <li class="production-list__item">
            <img
              srcset="
                ./catalog/images/icons/icon-4.jpeg    1x,
                ./catalog/images/icons/icon-4-x2.jpeg 2x
              "
              src="./catalog/images/icons/icon-4.jpeg"
              alt="Продукція"
              width="262"
            />
            <h3 class="production-list__title">Значок GL</h3>
          </li>
          <li class="production-list__item">
            <img
              srcset="
                ./catalog/images/icons/icon-5.jpeg    1x,
                ./catalog/images/icons/icon-5-x2.jpeg 2x
              "
              src="./catalog/images/icons/icon-5.jpeg"
              alt="Продукція"
              width="262"
            />
            <h3 class="production-list__title">Значок GL</h3>
          </li>
          <li class="production-list__item">
            <img
              srcset="
                ./catalog/images/icons/icon-6.jpeg    1x,
                ./catalog/images/icons/icon-6-x2.jpeg 2x
              "
              src="./catalog/images/icons/icon-6.jpeg"
              alt="Продукція"
              width="262"
            />
            <h3 class="production-list__title">Значок GL</h3>
          </li>
          <li class="production-list__item">
            <img
              srcset="
                ./catalog/images/icons/icon-7.jpeg 1x,
                ./catalog/images/icons/icon-7.jpeg 2x
              "
              src="./catalog/images/icons/icon-7.jpeg"
              alt="Продукція"
              width="262"
            />
            <h3 class="production-list__title">Значок GL</h3>
          </li>
          <li class="production-list__item">
            <img
              srcset="
                ./catalog/images/icons/icon-8.jpeg 1x,
                ./catalog/images/icons/icon-8.jpeg 2x
              "
              src="./catalog/images/icons/icon-8.jpeg"
              alt="Продукція"
              width="262"
            />
            <h3 class="production-list__title">Значок GL</h3>
          </li>
        </ul>
        <button type="button" class="btn-primary icons-btn">
          Показати більше
        </button>
      </div>
    </div>
  </div>
</div>
