<section class="activity">
  <div class="container">
    <h2 class="activity__title">Натхнення та активність</h2>
    <p class="activity__desc">
      Ми пропонуємо широкий вибір товарів від виробів з металу до виробів з
      натурального каменю та скла. Ось деякі з найпопулярніших продуктів,
      вибраних нашими клієнтами.
    </p>

    <div class="swiper swiper3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="activity__list list">
            <li class="activity__item">
              <img
                class="activity__pic"
                srcset="
                  ./images/activity/activity-1.jpg    1x,
                  ./images/activity/activity-1-2x.jpg 2x
                "
                src="./images/activity/activity-1.jpg "
                alt="Атрибутика"
                width="360"
              />
              <div class="activity__container-text">
                <h3 class="activity__caption">
                  Корпоративна атрибутика бренда
                </h3>
                <p class="activity__caption-desc">
                  Безліч фірм і компаній користуються цією послугою. Бейдж це
                  мініатюрна картка, зроблена з пластику чи металу, необхідна
                  визначення її носія.
                </p>
                <button type="button" class="activity__button button-more">
                  Більше
                  <svg width="7" height="12" class="footer__icon">
                    <use href="./images/sprite.svg#icon-arrow-bottom"></use>
                  </svg>
                </button>
              </div>
            </li>

            <li class="activity__item">
              <img
                class="activity__pic"
                srcset="
                  ./images/activity/activity-2.jpg    1x,
                  ./images/activity/activity-2-2x.jpg 2x
                "
                src="./images/activity/activity-2.jpg "
                alt="Медаль"
                width="360"
              />
              <div class="activity__container-text">
                <h3 class="activity__caption">Виготовлення медалей</h3>
                <p class="activity__caption-desc">
                  Безліч фірм і компаній користуються цією послугою. Бейдж це
                  мініатюрна картка, зроблена з пластику чи металу, необхідна
                  визначення її носія.
                </p>
                <button type="button" class="activity__button button-more">
                  Більше
                  <svg width="7" height="12" class="footer__icon">
                    <use href="./images/sprite.svg#icon-arrow-bottom"></use>
                  </svg>
                </button>
              </div>
            </li>

            <li class="activity__item">
              <img
                class="activity__pic"
                srcset="
                  ./images/activity/activity-3.jpg    1x,
                  ./images/activity/activity-3-2x.jpg 2x
                "
                src="./images/activity/activity-3.jpg "
                alt="Бейдж"
                width="360"
              />
              <div class="activity__container-text">
                <h3 class="activity__caption">
                  Виготовлення магнітних бейджів на замовлення
                </h3>
                <p class="activity__caption-desc">
                  Безліч фірм і компаній користуються цією послугою. Бейдж це
                  мініатюрна картка, зроблена з пластику чи металу, необхідна
                  визначення її носія.
                </p>
                <button type="button" class="activity__button button-more">
                  Більше
                  <svg width="7" height="12" class="footer__icon">
                    <use href="./images/sprite.svg#icon-arrow-bottom"></use>
                  </svg>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
