<div class="banner">
  <div class="container">
    <img class="banner" src="./images/content/banner.jpeg" alt="" />
    <h2 class="banner__title">
      <span class="banner-span">Український</span> виробник сувенірної та нагородної продукції
    </h2>
    <button class="btn banner__btn">В каталог</button>
  </div>
</div>

<div class="benefits">
  <div class="container">
    <ul class="benefits-list">
      <li class="benefits-list__item">
        <h2>Оперативно</h2>
      <svg class="benefits-icon" width="30" height="30">
        <use href=./images/sprite.svg#icon-carbon_delivery></use>
      </svg>
      </li>
      <li class="benefits-list__item">
        <h2>Професійно</h2>
        <svg class="benefits-icon" width="30" height="30">
          <use href=./images/sprite.svg#icon-tools></use>
        </svg>
      </li>
      <li class="benefits-list__item">
        <h2>Ексклюзивно</h2>
        <svg class="benefits-icon" width="30" height="30">
          <use href=./images/sprite.svg#icon-award></use>
        </svg>
      </li>
      <li class="benefits-list__item">
        <h2>Гараннтовано</h2>
        <svg class="benefits-icon" width="30" height="30">
          <use href=./images/sprite.svg#icon-ruby></use>
        </svg>
      </li>
    </ul>
  </div>
</div>

<div class="our-prodaction">
  <div class="container">
    <h2 class="our-prodaction__title">наша продукція</h2>
    <ul class="our-prodaction-list">
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/1.png" alt="" />
        <h3>Значки</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/2.png" alt="" />
        <h3>Шильди</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/3.png" alt="" />
        <h3>Бейджі</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/4.png" alt="" />
        <h3>Брелки</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/5.png" alt="" />
        <h3>Монети</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/6.png" alt="" />
        <h3>Наклдаки</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/7.png" alt="" />
        <h3>Таблички</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/8.png" alt="" />
        <h3>Медалі</h3>
      </li>
    </ul>
    <button class="btn prodaction-btn">
      Замовити дзвінок 
    </button>
  </div>
</div>