<div class="banner">
  <div class="container">
    <img class="banner" src="./images/banner.jpeg" alt="" />
    <h2 class="banner__title">
      Український виробник сувенірної та нагородної продукції
    </h2>
    <button class="banner__btn">В каталог</button>
  </div>
</div>

<div class="benefits">
  <div class="container">
    <ul class="benefits-list">
      <li class="benefits-list__item">
        <h2>Оперативно</h2>
        <!-- <img src="" alt="icon" /> -->
      </li>
      <li class="benefits-list__item">
        <h2>Професійно</h2>
        <!-- <img src="" alt="icon" /> -->
      </li>
      <li class="benefits-list__item">
        <h2>Гараннтовано</h2>
        <!-- <img src="" alt="icon" /> -->
      </li>
      <li class="benefits-list__item">
        <h2>Ексклюзивно</h2>
        <!-- <img src="" alt="icon" /> -->
      </li>
    </ul>
  </div>
</div>

<div class="our-prodaction">
  <div class="container">
    <ul class="our-prodaction-list">
      <li class="prodaction-list-item">
        <!-- <img src="./img/1.png" alt="" /> -->
        <h3>Значки</h3>
      </li>
      <li class="prodaction-list-item">
        <!-- <img src="./img/2.png" alt="" /> -->
        <h3>Шильди</h3>
      </li>
      <li class="prodaction-list-item">
        <!-- <img src="./img/3.png" alt="" /> -->
        <h3>Бейджі</h3>
      </li>
      <li class="prodaction-list-item">
        <!-- <img src="./img/4.png" alt="" /> -->
        <h3>Брелки</h3>
      </li>
      <li class="prodaction-list-item">
        <!-- <img src="./img/5.png" alt="" /> -->
        <h3>Монети</h3>
      </li>
      <li class="prodaction-list-item">
        <!-- <img src="./img/6.png" alt="" /> -->
        <h3>Наклдаки</h3>
      </li>
      <li class="prodaction-list-item">
        <!-- <img src="./img/7.png" alt="" /> -->
        <h3>Таблички</h3>
      </li>
      <li class="prodaction-list-item">
        <!-- <img src="./img/8.png" alt="" /> -->
        <h3>Медалі</h3>
      </li>
    </ul>
  </div>
</div>
