<div class="banner">
    <img class="banner" src="./images/content/banner.jpeg" alt="" />
    <h2 class="banner__title">
      <span class="banner-span">Український</span> виробник сувенірної та нагородної продукції
    </h2>
    <button type="button" class="btn banner__btn">В каталог</button>
</div>

<div class="benefits">
  <div class="container">
    <ul class="benefits-list">
      <li class="benefits-list__item">
        <h2>Оперативно</h2>
      <svg class="benefits-icon" width="30" height="30">
        <use href=./images/sprite.svg#icon-carbon_delivery></use>
      </svg>
      </li>
      <li class="benefits-list__item">
        <h2>Професійно</h2>
        <svg class="benefits-icon" width="30" height="30">
          <use href=./images/sprite.svg#icon-tools></use>
        </svg>
      </li>
      <li class="benefits-list__item">
        <h2>Ексклюзивно</h2>
        <svg class="benefits-icon" width="30" height="30">
          <use href=./images/sprite.svg#icon-award></use>
        </svg>
      </li>
      <li class="benefits-list__item">
        <h2>Гараннтовано</h2>
        <svg class="benefits-icon" width="30" height="30">
          <use href=./images/sprite.svg#icon-ruby></use>
        </svg>
      </li>
    </ul>
  </div>
</div>

<section class="our-production">
  <div class="container">
    <h2 class="our-production__title">наша продукція</h2>
    <ul class="our-production-list">
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/1.png" alt="" />
        <h3 class="prodaction-list__title">Значки</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/2.png" alt="" />
        <h3 class="prodaction-list__title">Шильди</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/3.png" alt="" />
        <h3 class="prodaction-list__title">Бейджі</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/4.png" alt="" />
        <h3 class="prodaction-list__title">Брелки</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/5.png" alt="" />
        <h3 class="prodaction-list__title">Монети</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/6.png" alt="" />
        <h3 class="prodaction-list__title">Наклдаки</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/7.png" alt="" />
        <h3 class="prodaction-list__title">Таблички</h3>
      </li>
      <li class="prodaction-list__item">
        <img src="./images/content/benefits/8.png" alt="" />
        <h3 class="prodaction-list__title">Медалі</h3>
      </li>
    </ul>
    <button type="button" class="btn our-production__btn">
      Замовити дзвінок 
    </button>
  </div>
</section>