<footer class="footer">
  <section class="footer__section">
    <div class="container">
      <div class="footer__product-container">
        <ul class="list footer__list-product">
          <li class="footer__item-product">
            <a href="" class="link footer__link-product">Значки</a>
          </li>
          <li class="footer__item-product">
            <a href="" class="link footer__link-product">Шильди</a>
          </li>
          <li class="footer__item-product">
            <a href="" class="link footer__link-product">Бейджі</a>
          </li>
          <li class="footer__item-product">
            <a href="" class="link footer__link-product">Брелоки</a>
          </li>
          <li class="footer__item-product">
            <a href="" class="link footer__link-product">Монети, Жетон</a>
          </li>
          <li class="footer__item-product">
            <a href="" class="link footer__link-product">Накладки</a>
          </li>
          <li class="footer__item-product">
            <a href="" class="link footer__link-product">Таблички</a>
          </li>
          <li class="footer__item-product">
            <a href="" class="link footer__link-product">Медалі, Ордена</a>
          </li>
        </ul>
      </div>
      <div class="footer__container">
        <div class="footer__adress-container">
          <h2 class="footer__title">Адреса</h2>
          <p class="footer__desc">
            місто Київ, <br />
            перевулок Радищева 6
          </p>
          <a href="https://goo.gl/maps/CfENXgQEXopQMiG78" class="footer__link"
            >Подивитись на карті</a
          >
        </div>
        <div class="footer__contact-container">
          <h2 class="footer__title">Контакти</h2>
          <ul class="list footer__contact-list">
            <li class="footer__contact-item">
              <a href="tel:+380962987043" class="link footer__contact-link"
                >+38(096) 298-70-43 &nbsp
                <span class="footer__contact-link footer__contact-link-desc">
                  Viber ,Telegramm</span
                >
              </a>
            </li>
            <li class="footer__contact-item">
              <a href="tel:+380672873108" class="link footer__contact-link"
                >+38(067) 287-31-08 &nbsp
                <span class="footer__contact-link footer__contact-link-desc">
                  Viber ,Telegramm</span
                ></a
              >
            </li>
            <li class="footer__contact-item">
              <a href="tel:+380502537208" class="link footer__contact-link"
                >+38(050) 253-72-08</a
              >
            </li>
          </ul>
        </div>
        <div class="footer__email-container">
          <h2 class="footer__title">E-mail:</h2>
          <ul class="list footer__email-list">
            <li class="footer__email-item">
              <a
                href="mailto:pinol.ukraine@gmail.com "
                class="footer__email-link"
                >pinol.ukraine@gmail.com</a
              >
            </li>
            <li class="footer__email-item">
              <a href="mailto:ldgroop@gmail.com " class="footer__email-link"
                >ldgroop@gmail.com</a
              >
            </li>
          </ul>
        </div>
        <div class="footer__schedule-container">
          <h2 class="footer__title">Графік роботи</h2>
          <ul class="list footer__schedule-list">
            <li class="footer__schedule-item">Пн-Пт: 09:00 - 18:00</li>
            <li class="footer__schedule-item">Сб-Нд: Вихідний</li>
          </ul>
        </div>
        <div class="footer__copyright-container">
          <p class="footer__copyright-text">&copy; 2021 Pin-ol.com.ua</p>
          <p class="footer__copyright-text">Всі права захищені</p>
          <p class="footer__copyright-text">
            Створення та <br />
            просування сайту:
          </p>
          <p class="footer__copyright-desc">Dmitriy Pashchenko</p>
        </div>
      </div>
    </div>
  </section>
</footer>
