<header class="header">
  <div class="side-now">
    <ul class="side-now-list">
      <div class="logo">
        <svg width="100" height="100" class="side-now-logo">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </div>

      <li class="side-now__item">
        <a class="c-btn c-btn--double-line" href="#">Головна</a>
      </li>
      <li class="side-now__item">
        <a class="c-btn c-btn--double-line" href="#">Каталог</a>
      </li>
      <li class="side-now__item">
        <a class="c-btn c-btn--double-line" href="#">Останні роботи</a>
      </li>
      <li class="side-now__item">
        <a class="c-btn c-btn--double-line" href="#">Про нас</a>
      </li>
      <li class="side-now__item">
        <a class="c-btn c-btn--double-line" href="#">Виробництво</a>
      </li>
      <li class="side-now__item">
        <a class="c-btn c-btn--double-line" href="#">Відгуки</a>
      </li>
      <li class="side-now__item">
        <a class="c-btn c-btn--double-line" href="#">Доставка, оплата</a>
      </li>
      <li class="side-now__item">
        <a class="c-btn c-btn--double-line" href="#">Оптові ціни</a>
      </li>
      <li class="side-now__item">
        <a class="c-btn c-btn--double-line" href="#">Новини</a>
      </li>

      <ul class="translate-lang">
        <li class="translate-lang__option translate-current">
          <a href="">ua</a>
        </li>
        <li class="translate-lang__option"><a href="">ru</a></li>
        <li class="translate-lang__option"><a href="">en</a></li>
      </ul>

      <ul class="side-social-list">
        <li class="social-list__item">
          <svg width="30" height="30" class="side-social">
            <use href="./images/sprite.svg#icon-viber"></use>
          </svg>
        </li>
        <li class="social-list__item">
          <svg width="30" height="30" class="side-social">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </li>
        <li class="social-list__item">
          <svg width="30" height="30" class="side-social">
            <use href="./images/sprite.svg#icon-Instagram"></use>
          </svg>
        </li>
        <li class="social-list__item">
          <svg width="30" height="30" class="side-social">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </li>
      </ul>
    </ul>
  </div>
</header>
