<h2>header</h2>

<div class="side-now">
  <ul class="side-now-list">
    <li class="side-list__item"><a href="#">Головна</a></li>
    <li class="side-list__item"><a href="#">Каталог</a></li>
    <li class="side-list__item"><a href="#">Останні роботи</a></li>
    <li class="side-list__item"><a href="#">Про нас</a></li>
    <li class="side-list__item"><a href="#">Виробництво</a></li>
    <li class="side-list__item"><a href="#">Відгуки</a></li>
    <li class="side-list__item"><a href="#">Доставка, оплата</a></li>
    <li class="side-list__item"><a href="#">Оптові ціни</a></li>
    <li class="side-list__item"><a href="#">Новини</a></li>
  </ul>

  <ul class="translate-lang">
    <li class="translate-lang__option"><a href="">ua</a></li>
    <li class="translate-lang__option"><a href="">ru</a></li>
    <li class="translate-lang__option"><a href="">en</a></li>
  </ul>

  <!-- <div class="social-list">
    <ul>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
    </ul>
  </div> -->
</div>
