<section class="looking">
  <div class="container">
    <p class="looking__title"></p>
    <div class="looking__container">
      <ul class="list looking__list">
        <li class="looking__item">
          <a href="" class="link looking__link"
            >Виготовлення значків на замовлення
          </a>
        </li>
        <li class="looking__item">
          <a href="" class="link looking__link">Значки з логотипом </a>
        </li>
        <li class="looking__item">
          <a href="" class="link looking__link"
            >Виготовлення значків на замовлення за індивідуальним дизайном
          </a>
        </li>

        <li class="looking__item">
          <a href="" class="link looking__link"
            >Виготовлення меделей на замовлення Київ
          </a>
        </li>
        <li class="looking__item">
          <a href="" class="link looking__link"
            >Виготовлення шильд на магніті</a
          >
        </li>
        <li class="looking__item">
          <a href="" class="link looking__link"
            >Значки Київ дизайн та виготовлення</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
