<section class="our-product">
  <div class="container">
    <h2 class="our-product__title">Наше виробництво</h2>
    <p class="our-product__desc">
      З кожним роком, наша компанія нарощує потенціал – вдосконалює виробничі
      потужності, сміливо експериментує з дизайном, залучає до співпраці
      найкращих фахівців галузі. Ми завжди стежимо за настроями і тенденціями на
      ринку, прагнемо бути кращими.
    </p>
    <ul class="our-product__list">
      <li class="our-product__item">
        <img
          class="our-product__img"
          srcset="
            ./images/our-product/image.jpg    1x,
            ./images/our-product/image-2x.jpg 2x
          "
          src="./images/our-product/image.jpg "
          alt="Нам довіряють"
          width="320"
        />
        <p class="our-product__top-text">штампування</p>
      </li>
      <li class="our-product__item">
        <img
          class="our-product__img"
          srcset="
            ./images/our-product/image.jpg    1x,
            ./images/our-product/image-2x.jpg 2x
          "
          src="./images/our-product/image.jpg "
          alt="Нам довіряють"
          width="320"
        />
        <p class="our-product__top-text">травлення</p>
      </li>
      <li class="our-product__item">
        <img
          class="our-product__img"
          srcset="
            ./images/our-product/image.jpg    1x,
            ./images/our-product/image-2x.jpg 2x
          "
          src="./images/our-product/image.jpg "
          alt="Нам довіряють"
          width="320"
        />
        <p class="our-product__top-text">емалювання</p>
      </li>
      <li class="our-product__item">
        <img
          class="our-product__img"
          srcset="
            ./images/our-product/image.jpg    1x,
            ./images/our-product/image-2x.jpg 2x
          "
          src="./images/our-product/image.jpg "
          alt="Нам довіряють"
          width="320"
        />
        <p class="our-product__top-text">покриття</p>
      </li>
      <li class="our-product__item">
        <img
          class="our-product__img"
          srcset="
            ./images/our-product/image.jpg    1x,
            ./images/our-product/image-2x.jpg 2x
          "
          src="./images/our-product/image.jpg "
          alt="Нам довіряють"
          width="320"
        />
        <p class="our-product__top-text">інд.упаковка</p>
      </li>
    </ul>
    <p class="our-product__text">
      Власне виробництво дозволяє швидко виконувати замовлення будь-якої
      складності та обсягу. Ми виготовляємо вироби на високоточному обладнанні
      із застосуванням європейських матеріалів. <br />
      Кожен виріб проходить більше 10 виробничих процесів, доки не буде повністю
      завершеним і готовий до відправки.
    </p>
  </div>
</section>
