<section class="our-product">
  <div class="container">
    <h2 class="our-product__title">Наше виробництво</h2>
    <p class="our-product__desc">
      З кожним роком, наша компанія нарощує потенціал – вдосконалює виробничі
      потужності, сміливо експериментує з дизайном, залучає до співпраці
      найкращих фахівців галузі. Ми завжди стежимо за настроями і тенденціями на
      ринку, прагнемо бути кращими.
    </p>
    <ul class="our-product-list">
      <li class="our-product-item"></li>
      <li class="our-product-item"></li>
      <li class="our-product-item"></li>
      <li class="our-product-item"></li>
      <li class="our-product-item"></li>
    </ul>
    <p class="our-product-text">
      Власне виробництво дозволяє швидко виконувати замовлення будь-якої
      складності та обсягу. Ми виготовляємо вироби на високоточному обладнанні
      із застосуванням європейських матеріалів. <br />
      Кожен виріб проходить більше 10 виробничих процесів, доки не буде повністю
      завершеним і готовий до відправки.
    </p>
  </div>
</section>
