<section class="production">
  <div class="container">
    <h2 class="production__title">Виготовлення значків на замовлення</h2>
    <p class="production__desc">
      Якщо ви любите виділятися і підкреслювати свій статус, то значки –
      найкращий варіант.
    </p>
    <p class="production__text">
      Значки на замовлення - це не проста дрібничка, а річ, здатна підкреслити
      смак власника, його значущість. Над їх виготовленням трудяться дизайнери
      та інші фахівці, щоб значок зацікавив і навіть заінтригував. Найчастіше
      призначаються носіння на одязі, рідше – на аксесуарах: рюкзаках, шапках,
      сумках.
    </p>
    <button type="button" class="production__button button-more">
      Більше
      <svg width="7" height="12" class="footer__icon">
        <use href="./images/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </button>
  </div>
</section>
