<section class="realization">
  <div class="container">
    <h2 class="realization__title">є ідеї для реалізації?</h2>
    <p class="realization__desc">
      Отримайте безкоштовно консультацію наших спеціалістів
    </p>
    <div class="realization__container-button">
    <button type="button" class="btn realization__button">Замовити дзвінок</button>
    <ul class="realization__soc-list">
    <li class="realization__soc-item">
      <svg width="30" height="30" class="realization__soc-icon">
        <use href="./images/sprite.svg#icon-viber-white"></use>
      </svg>
    </li>
     <li class="realization__soc-item">
      <svg width="30" height="30" class="realization__soc-icon">
        <use href="./images/sprite.svg#icon-telegram-white"></use>
      </svg>
    </li>
    </div>
  </div>
</section>
