<section class="trust">
  <div class="container">
    <h2 class="trust__title">нам довіряють</h2>
    <p class="trust__desc">
      Наше головне завдання – втілити в життя ідею кожного клієнта. Ми
      пишаємось, що працюємо з Вами!
    </p>
    <ul class="trust__list">
      <div class="swiper-2 swiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-18.jpg    1x,
                  ./images/trust/trust-18-2x.jpg 2x
                "
                src="./images/trust/trust-18.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-19.jpg    1x,
                  ./images/trust/trust-19-2x.jpg 2x
                "
                src="./images/trust/trust-19.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-20.jpg    1x,
                  ./images/trust/trust-20-2x.jpg 2x
                "
                src="./images/trust/trust-20.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-2.jpg    1x,
                  ./images/trust/trust-2-2x.jpg 2x
                "
                src="./images/trust/trust-2.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-4.jpg    1x,
                  ./images/trust/trust-4-2x.jpg 2x
                "
                src="./images/trust/trust-4.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-1.jpg    1x,
                  ./images/trust/trust-1-2x.jpg 2x
                "
                src="./images/trust/trust-1.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>
          </div>
          <div class="swiper-slide">
            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-8.jpg    1x,
                  ./images/trust/trust-8-2x.jpg 2x
                "
                src="./images/trust/trust-8.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-10.jpg    1x,
                  ./images/trust/trust-10-2x.jpg 2x
                "
                src="./images/trust/trust-10.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-11.jpg    1x,
                  ./images/trust/trust-11-2x.jpg 2x
                "
                src="./images/trust/trust-11.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-12.jpg    1x,
                  ./images/trust/trust-12-2x.jpg 2x
                "
                src="./images/trust/trust-12.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-14.jpg    1x,
                  ./images/trust/trust-14-2x.jpg 2x
                "
                src="./images/trust/trust-14.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-15.jpg    1x,
                  ./images/trust/trust-15-2x.jpg 2x
                "
                src="./images/trust/trust-15.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>
          </div>
          <div class="swiper-slide">
            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-17.jpg    1x,
                  ./images/trust/trust-17-2x.jpg 2x
                "
                src="./images/trust/trust-17.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-14.jpg    1x,
                  ./images/trust/trust-14-2x.jpg 2x
                "
                src="./images/trust/trust-14.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-15.jpg    1x,
                  ./images/trust/trust-15-2x.jpg 2x
                "
                src="./images/trust/trust-15.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-16.jpg    1x,
                  ./images/trust/trust-16-2x.jpg 2x
                "
                src="./images/trust/trust-16.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-3.jpg    1x,
                  ./images/trust/trust-3-2x.jpg 2x
                "
                src="./images/trust/trust-3.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>

            <li class="trust__item">
              <img
                class="trust__pic"
                srcset="
                  ./images/trust/trust-6.jpg    1x,
                  ./images/trust/trust-6-2x.jpg 2x
                "
                src="./images/trust/trust-6.jpg "
                alt="Нам довіряють"
                width="180"
              />
            </li>
          </div>

          <li class="trust__item">
            <img
              class="trust__pic"
              srcset="
                ./images/trust/trust-7.jpg    1x,
                ./images/trust/trust-7-2x.jpg 2x
              "
              src="./images/trust/trust-7.jpg "
              alt="Нам довіряють"
              width="180"
            />
          </li>

          <li class="trust__item">
            <img
              class="trust__pic"
              srcset="
                ./images/trust/trust-9.jpg    1x,
                ./images/trust/trust-9-2x.jpg 2x
              "
              src="./images/trust/trust-9.jpg "
              alt="Нам довіряють"
              width="180"
            />
          </li>

          <li class="trust__item">
            <img
              class="trust__pic"
              srcset="
                ./images/trust/trust-13.jpg    1x,
                ./images/trust/trust-13-2x.jpg 2x
              "
              src="./images/trust/trust-13.jpg "
              alt="Нам довіряють"
              width="180"
            />
          </li>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </ul>
  </div>
</section>

<!-- Swiper -->

<!-- <ul class="trust__list">
  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-1.jpg    1x,
        ./images/trust/trust-1-2x.jpg 2x
      "
      src="./images/trust/trust-1.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-2.jpg    1x,
        ./images/trust/trust-2-2x.jpg 2x
      "
      src="./images/trust/trust-2.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-3.jpg    1x,
        ./images/trust/trust-3-2x.jpg 2x
      "
      src="./images/trust/trust-3.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-4.jpg    1x,
        ./images/trust/trust-4-2x.jpg 2x
      "
      src="./images/trust/trust-4.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-5.jpg    1x,
        ./images/trust/trust-5-2x.jpg 2x
      "
      src="./images/trust/trust-5.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-6.jpg    1x,
        ./images/trust/trust-6-2x.jpg 2x
      "
      src="./images/trust/trust-6.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-7.jpg    1x,
        ./images/trust/trust-7-2x.jpg 2x
      "
      src="./images/trust/trust-7.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-8.jpg    1x,
        ./images/trust/trust-8-2x.jpg 2x
      "
      src="./images/trust/trust-8.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-9.jpg    1x,
        ./images/trust/trust-9-2x.jpg 2x
      "
      src="./images/trust/trust-9.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-10.jpg    1x,
        ./images/trust/trust-10-2x.jpg 2x
      "
      src="./images/trust/trust-10.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-11.jpg    1x,
        ./images/trust/trust-11-2x.jpg 2x
      "
      src="./images/trust/trust-11.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-12.jpg    1x,
        ./images/trust/trust-12-2x.jpg 2x
      "
      src="./images/trust/trust-12.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-13.jpg    1x,
        ./images/trust/trust-13-2x.jpg 2x
      "
      src="./images/trust/trust-13.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-14.jpg    1x,
        ./images/trust/trust-14-2x.jpg 2x
      "
      src="./images/trust/trust-14.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-15.jpg    1x,
        ./images/trust/trust-15-2x.jpg 2x
      "
      src="./images/trust/trust-15.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-16.jpg    1x,
        ./images/trust/trust-16-2x.jpg 2x
      "
      src="./images/trust/trust-16.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>

  <li class="trust__item">
    <img
      class="trust__pic"
      srcset="
        ./images/trust/trust-17.jpg    1x,
        ./images/trust/trust-17-2x.jpg 2x
      "
      src="./images/trust/trust-17.jpg "
      alt="Нам довіряють"
      width="180"
    />
  </li>
</ul> -->
