<div class="last-works">
  <div class="container">
    <h2 class="last-works__title">останні роботи</h2>
    <p class="last-works__descr">
      В своїй праці ми передаємо самобутню українську культуру, нашу мужність,
      відвагу, багатство почуттів і настроїв, пробуджуємо патрітизм та віру в
      нашу славу!
    </p>

    <div class="swiper swiper1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="works-list">
            <li class="works-list__item">
              <img
                srcset="
                  ./images/works/ukraine.jpg    1x,
                  ./images/works/ukraine-2x.jpg 2x
                "
                src="./images/works/ukraine.jpg "
                alt="Значок"
                width="262"
              />
              <h4 class="works-list__title">Значок слава україні</h4>
            </li>
            <li class="works-list__item">
              <img
                srcset="
                  ./images/works/ukraine.jpg    1x,
                  ./images/works/ukraine-2x.jpg 2x
                "
                src="./images/works/ukraine.jpg "
                alt="Значок"
                width="262"
              />
              <h4 class="works-list__title">Значок слава україні</h4>
            </li>
            <li class="works-list__item">
              <img
                srcset="
                  ./images/works/ukraine.jpg    1x,
                  ./images/works/ukraine-2x.jpg 2x
                "
                src="./images/works/ukraine.jpg "
                alt="Значок"
                width="262"
              />
              <h4 class="works-list__title">
                Значок слава україні героям слава
              </h4>
            </li>
          </ul>
          <div class="swiper-button-next btn-trust"></div>
          <div class="swiper-button-prev btn-trust"></div>
        </div>
      </div>
    </div>
  </div>
</div>
