<div class="last-works">
  <div class="container">
    <h2>останні роботи</h2>
    <p>
      В своїй праці ми передаємо самобутню українську культуру, нашу мужність,
      відвагу, багатство почуттів і настроїв, пробуджуємо патрітизм та віру в
      нашу славу!
    </p>

    <ul class="works-list">
      <li class="works-list__item">
        <img src="./images/slider-works-pic.png" alt="" />
        <h4>Значок слава україні</h4>
      </li>

      <li class="works-list__item">
        <img src="./images/slider-works-pic.png" alt="" />
        <h4>Значок слава україні</h4>
      </li>
      <li class="works-list__item">
        <img src="./images/slider-works-pic.png" alt="" />
        <h4>Значок слава україні</h4>
      </li>
    </ul>
  </div>
</div>

<!-- <div class="last-works">
  <div class="container">
    <div class="swiper">
      <div class="last-works">
        <ul class="works-list">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <li class="works-list__item">
                <img src="./images/slider-works-pic.png" alt="1" />
                <h4>Значок слава україні</h4>
              </li>
            </div>
            <div class="swiper-slide">
              <li class="works-list__item">
                <img src="./images/slider-works-pic2.png" alt="2" />
                <h4>Значок слава україні</h4>
              </li>
            </div>
            <div class="swiper-slide">
              <li class="works-list__item">
                <img src="./images/slider-works-pic3.png" alt="3" />
                <h4>Значок слава україні</h4>
              </li>
            </div>
            <div class="swiper-slide">
              <li class="works-list__item">
                <img src="./images/slider-works-pic2.png" alt="4" />
                <h4>Значок слава україні</h4>
              </li>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <li class="works-list__item">
        <img src="./images/slider-works-pic2.png" alt="4" />
        <h4>Значок слава україні</h4>
      </li>
    </div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>

  </div>
  <div class="swiper-pagination"></div>


  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-scrollbar"></div>
</div> -->
