<div class="last-works">
  <div class="container">
    <h2>останні роботи</h2>
    <p>
      В своїй праці ми передаємо самобутню українську культуру, нашу мужність,
      відвагу, багатство почуттів і настроїв, пробуджуємо патрітизм та віру в
      нашу славу!
    </p>

    <div class="swiper swiper1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="works-list">
            <li class="works-list__item">
              <img src="./images/slider-works-pic2.png" alt="4" />
              <h4 class="works-list__title">Значок слава україні</h4>
            </li>
            <li class="works-list__item">
              <img src="./images/slider-works-pic2.png" alt="4" />
              <h4 class="works-list__title">Значок слава україні</h4>
            </li>
            <li class="works-list__item">
              <img src="./images/slider-works-pic2.png" alt="4" />
              <h4 class="works-list__title">Значок слава україні</h4>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <img src="./images/slider-works-pic2.png" alt="2" />
          <img src="./images/slider-works-pic2.png" alt="2" />
          <img src="./images/slider-works-pic2.png" alt="2" />
          <img src="./images/slider-works-pic2.png" alt="2" />
        </div>
        <div class="swiper-slide">
          <img src="./images/slider-works-pic2.png" alt="2" />
          <img src="./images/slider-works-pic2.png" alt="2" />
          <img src="./images/slider-works-pic2.png" alt="2" />
          <img src="./images/slider-works-pic2.png" alt="2" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Swiper -->
