.footer {
  background-image: url('../images/footer-background.png');
  background-color: #080a0d;
  padding-top: 50px;
  padding-bottom: 88px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;

  &__product-container {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 41px;
    justify-content: center;
  }
  &__list-product {
    display: flex;
    gap: 53px;
  }
  &__item-product {
  }
  &__link-product {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height, or 21px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* Второстепенный цвет */

    color: var(--secondary-text-color);
  }
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 67px;
  }
  &__title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;

    color: var(--white-text-color);
    margin-bottom: 16px;
  }
  &__desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.47;
    /* or 22px */
    margin-bottom: 16px;

    color: var(--white-text-color);
  }
  &__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    /* identical to box height, or 18px */

    color: rgba(255, 255, 255, 0.6);
  }
  &__contact-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__contact-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.47;
    /* identical to box height, or 22px */

    display: flex;
    align-items: center;

    color: var(--white-text-color);
  }
  &__email-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__email-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.47;
    /* identical to box height, or 22px */

    color: var(--white-text-color);
  }
  &__schedule-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.47;
    /* identical to box height, or 22px */

    color: var(--white-text-color);
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__copyright-text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    /* identical to box height, or 14px */

    color: var(--white-text-color);
    margin-bottom: 7px;
  }
  &__copyright-container {
  }
  &__copyright-desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    /* identical to box height, or 18px */

    color: rgba(255, 255, 255, 0.6);
  }
}
