.trust {
  padding-top: 71px;
  padding-bottom: 139px;
  background-color: rgba(100, 140, 200, 0.4);
  // position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &.container {
    position: relative;
  }
  &__title {
    font-family: 'Oranienbaum';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.32;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $main-text-color;
  }
  &__desc {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.68;
    letter-spacing: 0.03em;
    color: $main-text-color;
    margin-bottom: 31px;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  &__item {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.btn-trust,
.btn-trust {
  position: absolute;
  top: 200px;
}
