.trust {
  padding-top: 71px;
  padding-bottom: 139px;
  background-color: rgba(100, 140, 200, 0.4);
  &__title {
    font-family: 'Oranienbaum';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.32;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: var(--main-text-color);
  }
  &__desc {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.68;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
}
