.last-works {
  padding-top: 70px;
  padding-bottom: 110px;
  background: #829cc2;
  text-align: center;
}

.works-list {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.works-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(25px);
  margin-left: 50px;
  background: #2c2c2c;
  color: white;
  position: relative;
}

.works-list__title {
  position: absolute;
  bottom: 20px;
}
